<header>
  <div class="header-container">
    <div class="logo">QUIZ-APP</div>
    <div class="user-info">
      <span><%= current_user.name %>さん</span>
      <%= link_to 'ログアウト', logout_path, method: :delete, class: "logout-link" %>
    </div>
  </div>
</header>