<header>
    <div class="header-container">
        <div class="logo">QUIZ-APP</div>
        <div class="auth-buttons">
            <a href="#" class="login">ログイン</a>
            <a href="#" class="register">ユーザー登録</a>
        </div>
    </div>
</header>