<%= render "shared/header" %>
<!-- イラスト画像を追加 -->
<div class="illustration-container">
  <img src="<%= asset_path("アプリ背景3.jpg") %>" alt="Illustration" class="illustration-image">
</div>
<div class="message">
  <p>QUIZ-APPへようこそ☆彡</p>
  <p>まずはユーザー登録をして</p>
  <p>ログインしてね☆彡</p>
</div>